.navfont {
    font-family: 'Vampiro One', cursive !important;
}

.introcolor {
    font-family: 'Vampiro One', cursive !important;
    font-size: 3rem !important;
}

h1 {
    font-family: 'Anton', sans-serif !important;
}

h3 {
    font-family: 'Syne Mono', monospace !important;
    font-weight: 800 !important;
}

h5,
h6 {
    font-family: 'Syne Mono', monospace !important;
    font-size: 1.3rem !important;
}

p {
    font-family: 'Carter One', cursive !important;
}

button {
    font-family: 'Syne Mono', monospace !important;
    font-size: 1.3rem !important;
}

.introfont {
    font-family: 'Carter One', cursive !important;
    font-size: 1.2rem !important;
}

.btnintro {
    font-family: 'Syne Mono', monospace !important;
    font-size: 1.3rem !important;
}

.whyfont {
    font-family: 'Lobster', cursive !important;
    font-weight: 800 !important;
}

.whyfont2 {
    font-family: 'Carter One', cursive !important;
}

.whycardfont {
    font-family: 'Lobster', cursive !important;
}

.fefont {
    font-family: 'Anton', sans-serif !important;
    font-size: 3rem !important;
    font-weight: 800 !important;
}

.userfont {
    font-family: 'Anton', sans-serif !important;
    font-weight: 700;
}

.pricefont {
    font-family: 'Lobster', cursive !important;
}

.btn-1 {
    font-size: 20px !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

footer {
    font-family: cursive !important;
}

.footerfont {
    font-family: 'Henny Penny', cursive !important;
}